@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  height: 100%;
}

:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100vh;
  overflow: scroll;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: #01080d;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  display: inline-block;
}

.footer ul li a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
}

.image {
  width: 50%;
  margin-right: 20px;
  margin-top: 1%;
}

.text {
  width: 50%;
}

.mobile-menu {
  display: block;
  width: 100%;
  background: #01080d
    /*e0b88f/*c99393/*e5d1a4/*dcc591/*EFD3A3*/
  ;
  line-height: 1.6em;
  font-weight: 400;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

/*Strip the ul of padding and list styling*/
.mobile-menu ul {
  list-style-type: none;
  margin: 0 auto;
  padding-left: 0;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: scroll;
  background: #01080d;
}

/*Create a horizontal list with spacing*/
.mobile-menu li {
  display: inline-block;
  /*float: left;
	margin-right: 1px;*/
}

/*Style for menu links*/
.mobile-menu li a {
  display: block;
  min-width: 140px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-transform: uppercase;
  background: #01080d;
  text-decoration: none;
  margin-left: -5px;
  padding: 10px 0;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/*Hover state for top level links*/
.mobile-menu li:hover a {
  color: #fbfcfb;
  background-color: #4dff6e;
}

/*Style for dropdown links*/
.mobile-menu li:hover ul a {
  background: #f3f3f3;
  color: #2f3036;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
.mobile-menu li:hover .mobile-menu ul a:hover {
  color: #4dff6e;
}

/*Hide dropdown links until they are needed*/
.mobile-menu li ul {
  display: none;
}

/*Make dropdown links vertical*/
.mobile-menu li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
.mobile-menu li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}


/*Style 'show menu' label button and hide it by default*/
.mobile-menu .show-menu {
  text-decoration: none;
  color: #fff;
  background: #01080d;
  text-align: center;
  padding: 10px 15px;
  display: none;
  cursor: pointer;
  text-transform: uppercase;
}

.mobile-menu .show-menu span {
  padding-left: 25px;
}

/*Hide checkbox*/
.mobile-menu input[type=checkbox] {
  display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked~#menu {
  display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 800px) {
  .mobile-menu .lines {
    border-bottom: 15px double #f8f8f8;
    border-top: 5px solid #f8f8f8;
    content: "";
    height: 5px;
    width: 20px;
    padding-right: 15px;
    float: right;
  }

  /*Make dropdown links appear inline*/
  .mobile-menu ul {
    position: static;
    display: none;
  }

  /*Create vertical spacing*/
  .mobile-menu li {
    margin-bottom: 1px;
  }

  /*Make all menu links full width*/
  .mobile-menu ul li,
  .mobile-menu li a {
    width: 100%;
  }

  /*Display 'show menu' link*/
  .mobile-menu .show-menu {
    display: block;
  }
}

.fa {
  padding: 10px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}



.carousel {
  margin-left: 15%;
  margin-right: 15%;
}

ul.slides {
  display: block;
  position: relative;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.slides input {
  display: none;
}


.slide-container {
  display: block;
}

.slide-image {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.slide-image img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 600px;
  color: #fff;
}

.carousel-controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity .2s;
  cursor: pointer;
}

.slide-image:hover+.carousel-controls label {
  opacity: 0.5;
}

.carousel-controls label:hover {
  opacity: 1;
}

.carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel-dots .carousel-dot {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked+.slide-container .slide-image {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .carousel-controls label {
  display: block;
}

input#img-1:checked~.carousel-dots label#img-dot-1,
input#img-2:checked~.carousel-dots label#img-dot-2,
input#img-3:checked~.carousel-dots label#img-dot-3,
input#img-4:checked~.carousel-dots label#img-dot-4,
input#img-5:checked~.carousel-dots label#img-dot-5,
input#img-6:checked~.carousel-dots label#img-dot-6 {
  opacity: 1;
}


input:checked+.slide-container .nav label {
  display: block;
}

#header {
    padding: 9em 0 9em 0 ;
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed,							fixed,							fixed;
    background-image: url("images/overlay2.png"), url("images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background-position: top left,						center center,					center center;
    background-size: auto,							cover,							cover;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#header a {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

    #header a:hover {
        color: #ffffff;
    }

#header h1, #header h2, #header h3, #header h4, #header h5, #header h6, #header strong, #header b {
    color: #ffffff;
}

#header header p {
    color: #ffffff;
}

#header .inner {
    -moz-transition: -moz-transform 1.5s ease, opacity 2s ease;
    -webkit-transition: -webkit-transform 1.5s ease, opacity 2s ease;
    -ms-transition: -ms-transform 1.5s ease, opacity 2s ease;
    transition: transform 1.5s ease, opacity 2s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    position: relative;
    z-index: 1;
}

#header ul.major-icons li .icon {
    border-color: #ffffff;
}

#header .icon.major {
    color: #ffffff;
}

h1 {
    font-size: 2.25em;
    line-height: 1.35em;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.header-wrapper {
    /* min-height: 100%; */
}