#eval {  
    background: #c3e4e8; 
  }
  
  #eval .quote {
    font-weight: bold;
    margin-bottom: 10px;
    font-style: oblique;
    color:#018B98;
  }
  
  #eval li {
    margin-top: 10px;
  }
  